@media screen and (max-width:1024px){
    .header-box_container{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .header{
        height: auto;
    }
    .header-box_container{
        flex-flow: column;
        width: 75%;
        /* height: 100%; */
    }
}
@media screen and (max-width:425px) {
    .header-box_container{
        width: 100%;
    }
}